.github
.git
*.md
!THIRD-PARTY-LICENSES.md
.vscode
.gitignore
.env*
.deploy.lock
backups
data
logs
*.db
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/default/node_modules
/web/default/dist
/web/classic/node_modules
/web/classic/dist
/web/image/node_modules
/web/image/dist
!THIRD-PARTY-LICENSES.md
